body {
    border: solid 1px black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: upper right;
    text-wrap: wrap;
}

header {
    font-family: "Dancing Script";
    background-color: rgb(227,227,227,255);
    padding: .01px 30px .01px 30px;
    width : 30%;
    margin: auto;
    border-radius: 10px;
}

hr {
    border-top: 2px solid black; 
    width: 90% !important;
}

div {
    max-width: 700px;
} 

u {
    font-family: "Josefin Sans";
    text-decoration: none; 
    text-indent: 25px;
    border-style: ridge;
    border-color: black;
    border-radius: 2px;
    background-color: rgb(238,238,238,255);
    padding: 0px 200px 10px 0px;
    margin-left: 90px;
    display: inline-block;
    
}

ol {
    max-width: 650px;
    font-family: "Lato";
    border-style: ridge;
    border-color: black;
    border-radius: 2px;
    background-color: rgb(238,238,238,255);
    padding: 0px 20px 10px 40px;
    margin-left: 90px;
}

li {
    margin: 10px 0;
}

footer { 
    background-color: rgb(227,227,227,255);
    padding: 2px 200px 10px 200px;
    width : 70%;
    margin: auto;
    border-radius: 10px;
}

main {
    padding: 10px 20px 10px 20px;
    width : 90%;
    margin: auto;
    border-radius: 10px;
}
textarea {
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: "Josefin Sans";
    font-size: 15px;
}

label {
    font-family: "Josefin Sans";
    font-size: 20px;
}

button:hover {
    background-color: chocolate;
    transition-duration: .6s;
}

button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.button {
    font-size: 20px;
}

.background {
    margin: auto;
    background-color: rgb(227,227,227,255);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.small {
    margin-top: -10px;
    margin-bottom: 1px; 
    font-size: 10px;
}

.ingredients {
    color: chocolate;
    text-indent: 3%;
}

#copyright { 
    font-family: "Jersey 10 Charted";
    color: rgb(36, 8, 8);
}

#steps {
    color: chocolate;
    text-indent: -4.5%;
}


.josefin-sans-regular {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.dancing-script-regular{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

.jersey-10-charted-regular {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    }





      
    